<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Divine Shop - Đăng nhập</title>
    <link rel="stylesheet" href="../css/Style_login.css">
    <link rel="icon" href="image/asset_logo_logo-divine-94375.png">
</head>
<body>
    <div class="login-container">
        <a class="login" href="#">Đăng nhập</a>
          
        <a class="register" href="Register.html">Đăng ký</a>
        

        <form id="loginForm">
            <h1>Đăng nhập để theo dõi đơn hàng, lưu danh sách sản phẩm yêu thích và nhận nhiều ưu đãi hấp dẫn</h1>
            <div class="input-group">
                <input type="text" id="username" placeholder="Email hoặc tên đăng nhập" required>
            </div>
            <div class="input-group">
                <input type="password" id="password" placeholder="Mật khẩu" required>
            </div>
                <a class="forgotPassword" href="#">Bạn quên mật khẩu?</a>
            <button type="submit">Đăng nhập</button>
        </form>

        <div class="login-gg-zalo" >
            <div class="login-gg ">
                <img class="login-gg-icon" src="https://static-account.cellphones.com.vn/_nuxt/img/image45.93ceca6.png" alt="Google">
                <p class="login-gg-text">Google</p>
            </div>
            <div class="login-zalo">
                <img class="login-zalo-icon" src="https://static-account.cellphones.com.vn/_nuxt/img/Logo-Zalo-Arc.a36365b.png" alt="Zalo">
                <p class="login-zalo-text">Zalo</p>
            </div>
        </div>
    </div>
</body>
</html>
