<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Divine Shop - Đăng nhập</title>
    <link rel="stylesheet" href="../css/Style_register.css">
    <link rel="icon" href="image/asset_logo_logo-divine-94375.png">
</head>
<body>
    <div class="login-container">
        <a class="login" href="Login.html">Đăng nhập</a>
          
        <a class="register" href="#">Đăng ký</a>
        
        <form id="loginForm">
            <h1>Đăng nhập để theo dõi đơn hàng, lưu danh sách sản phẩm yêu thích và nhận nhiều ưu đãi hấp dẫn</h1>
            <div class="input-group">
                <input type="text" id="username" placeholder="Họ và tên" required>
            </div>
            <div class="input-group">
                <input type="text" id="username" placeholder="Email" required>
            </div>
            <div class="input-group">
                <input type="text" id="username" placeholder="Tên đăng nhập" required>
            </div>
            <div class="input-group">
                <input type="password" id="password" placeholder="Mật khẩu" required>
            </div>
            <div class="input-group">
                <input type="password" id="password" placeholder="Nhập lại mật khẩu" required>
            </div>
            <div class="input-group">
                <input type="text" id="text" placeholder="Mã giới thiệu (nếu có)" required>
            </div>

            <div class="checkbox">
                <input type="checkbox" id="checkbox" required>
                <label for="checkbox">Tôi đồng ý nhận thông tin marketing mới từ Divine Shop.</label>
            </div>
            <button type="submit">Tạo tài khoản</button>
            <h2>Khi bấm <span style="color: #374151;">Tạo tài khoản</span> , bạn đã đồng ý với <a href="#">Điều khoản dịch vụ của Divine Shop</a></h2>
        </form>
    </div>
</body>
</html>
