<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Divine Shop - Steam Wallet giá tốt</title>
    <link rel="icon" href="../image/asset_logo_logo-divine-94375.png">
    <link rel="stylesheet" href="../css/Style_steam-wallet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>

    <header class="bannerTop">
        <div class="bannerTopHeader">
            <div class="logo">
                <a href="../index.html"><img src="../image/asset_logo_logo-divine-94375.png" alt="Logo"> <strong>Divine Shop</strong></a>
            </div>
            <div class="header-links">
                <a href="#"><button><strong>Liên hệ hỗ trợ</strong></button></a>
            </div>
        </div>    
    </header>
    <hr style="border: none; height: 1px; background-color: black;">

    <br>
    <br>
    <br>

    <section class="currency-exchange">

        <div class="money">
            <i class="fa-solid fa-money-bill-transfer fa-lg" style="color: #007bfa;"></i>
            <h2>Chọn Steam Wallet phù hợp</h2>
            <p>Các loại Steam Wallet bên dưới đều nạp được vào tài khoản Steam Việt Nam.</p>
        </div>

        <div class="button-group-money">
            <a href="#" class="rounded-btn"><img style="width: 50px; border-radius: 10px;" src="../image/Flag_of_Hong_Kong.svg.png" alt=""> HKD</a>
            <a href="#" class="rounded-btn"><img style="width: 50px; border-radius: 10px;" src="../image/Flag_of_the_Republic_of_China.svg.png" alt=""> TWD</a>
            <a href="#" class="rounded-btn"><img style="width: 60px; border-radius: 10px;" src="../image/istockphoto-961747352-612x612.jpg" alt=""> USD</a>
        </div>

    </section>

    <br>
    <br>


    <section class="arrange">

        <div class="list">
            <i class="fa-solid fa-list-ul fa-lg" style="color: #007bfa;"></i>
            <h2>Các bước sử dụng Steam Wallet</h2>
            <p>Nạp Steam Wallet đơn giản chỉ với 4 bước.</p>
        </div>

        <div class="steps">

            <div class="step">
                <div class="step-number">1</div>
                <h3><i class="fa-solid fa-basket-shopping fa-sm" style="color: #23262f;"></i> Chọn Steam Wallet</h3>
                <p>Chọn sản phẩm Steam Wallet phù hợp với nhu cầu của mình. </p>
            </div>

            <div class="step">
                <div class="step-number">2</div>
                <h3><i class="fa-solid fa-money-check-dollar fa-sm" style="color: #23262f;"></i> Thanh toán</h3>
                <p>Chọn sản phẩm Steam Wallet phù hợp với nhu cầu của mình. </p>
            </div>

            <div class="step">
                <div class="step-number">3</div>
                <h3><i class="fa-solid fa-key fa-sm" style="color: #23262f;"></i> Nhận Code</h3>
                <p>Chọn sản phẩm Steam Wallet phù hợp với nhu cầu của mình. </p>
            </div>

            <div class="step">
                <div class="step-number">4</div>
                <h3><i class="fa-solid fa-gamepad fa-sm" style="color: #23262f;"></i></i> Mua Game yêu thích</h3>
                <p>Chọn sản phẩm Steam Wallet phù hợp với nhu cầu của mình. </p>
            </div>

        </div>

    </section>

    <br><br><br>

    <div class="backgroud-ategory">

        <section class="arrange">

            <div class="list">
                <br><br><br>
                <i class="fa-solid fa-layer-group fa-lg" style="color: #007bfa;"></i>
                <h2>Danh mục sản phẩm</h2>
            </div>
            
            <section class="arrange">

                <div class="product-container">

                    <div class="product-info">

                        <i class="fa-brands fa-steam fa-2xl"></i>
                        <h2>Steam Wallet Code (HKD)</h2>
                        <ul>
                            <li><i class="fa-solid fa-check fa-lg" style="color: #18bd7c;"></i> Code đảm bảo sử dụng ở vùng 🇻🇳 Việt Nam.</li>
                            <li><i class="fa-solid fa-check fa-lg" style="color: #18bd7c;"></i> Đa dạng mệnh giá.</li>
                            <li><i class="fa-solid fa-check fa-lg" style="color: #18bd7c;"></i> Cộng tiền ngay lập tức trong tài khoản Steam sau khi nhập mã thành công.</li>
                            <li><i class="fa-solid fa-check fa-lg" style="color: #18bd7c;"></i> Mở khóa giới hạn tài khoản Steam khi nạp tích lũy đủ 120.000đ.</li>
                            <li><i class="fa-solid fa-check fa-lg" style="color: #18bd7c;"></i> Bảo hành 12 tháng.</li>
                        </ul>

                    </div>
                
                    <div class="product-list">

                        <div class="product-card">
                            <div class="product-header">
                                <img src="../image/40hkd.avif" alt="">
                                <span class="code-badge"><i class="fa-solid fa-key fa-sm" style="color: #c84694;"></i>   CODE KÍCH HOẠT</span>
                            </div>
                            <p class="product-title">Steam Wallet Code 40 HKD (~131.240 VND)</p>
                            <p class="product-price">136.000đ</p>
                            <br>
                            <a href="Steam_40kws.html"><button class="buy-btn " style="background-color: #2579f2; color: white ;"><i class="fa-solid fa-bag-shopping" style="color: white;"></i> Mua ngay</button></a>
                        </div>
                
                        <div class="product-card">
                            <div class="product-header">
                                <img src="../image/50hkd.avif" alt="">
                                <span class="code-badge"><i class="fa-solid fa-key fa-sm" style="color: #c84694;"></i>   CODE KÍCH HOẠT</span>
                            </div>
                            <p class="product-title">Steam Wallet Code 50 HKD (~164.050 VNĐ)</p>
                            <p class="product-price">172.000đ</p>
                            <br>
                            <a href="Steam_50kws.html"><button class="buy-btn"><i class="fa-solid fa-bag-shopping" style="color: #2579f2;"></i> Mua ngay</button></a>
                        </div>

                        <div class="product-card">
                            <div class="product-header">
                                <img src="../image/80hkd.avif" alt="">
                                <span class="code-badge"><i class="fa-solid fa-key fa-sm" style="color: #c84694;"></i>   CODE KÍCH HOẠT</span>
                            </div>
                            <p class="product-title">Steam Wallet Code 80 HKD (~262.480 VNĐ)</p>
                            <p class="product-price">272.000đ</p>
                            <br>
                            <button class="buy-btn"><i class="fa-solid fa-bag-shopping" style="color: #2579f2;"></i> Mua ngay</button>
                        </div>

                    </div>

                </div>
                
            </section>
            <br>
            <section class="arrange">

                <div class="product-container">

                    <div class="product-info">

                        <i class="fa-brands fa-steam fa-2xl"></i>
                        <h2>Steam Wallet Code (TWD)</h2>
                        <ul>
                            <li><i class="fa-solid fa-check fa-lg" style="color: #18bd7c;"></i> Code đảm bảo sử dụng ở vùng 🇻🇳 Việt Nam.</li>
                            <li><i class="fa-solid fa-check fa-lg" style="color: #18bd7c;"></i> Cộng tiền ngay lập tức trong tài khoản Steam sau khi nhập mã thành công.</li>
                            <li><i class="fa-solid fa-check fa-lg" style="color: #18bd7c;"></i> Mở khóa giới hạn tài khoản Steam khi nạp tích lũy đủ 120.000đ.</li>
                            <li><i class="fa-solid fa-check fa-lg" style="color: #18bd7c;"></i> Bảo hành 12 tháng.</li>
                        </ul>

                    </div>
                
                    <div class="product-list">

                        <div class="product-card">
                            <div class="product-header">
                                <img src="../image/100twd.avif" alt="">
                                <span class="code-badge"><i class="fa-solid fa-key fa-sm" style="color: #c84694;"></i>   CODE KÍCH HOẠT</span>
                            </div>
                            <p class="product-title">Steam Wallet Code 100 TWD (~77.800 VNĐ)</p>
                            <p class="product-price">93.000đ</p>
                            <br>
                            <button class="buy-btn"><i class="fa-solid fa-bag-shopping" style="color: #2579f2;"></i> Mua ngay</button>
                        </div>
                
                        <div class="product-card">
                            <div class="product-header">
                                <img src="../image/150twd.avif" alt="">
                                <span class="code-badge"><i class="fa-solid fa-key fa-sm" style="color: #c84694;"></i>   CODE KÍCH HOẠT</span>
                            </div>
                            <p class="product-title">Steam Wallet Code 150 TWD (~116.700 VNĐ)   </p>
                            <p class="product-price">128.000đ</p>
                            <br>
                            <button class="buy-btn"><i class="fa-solid fa-bag-shopping" style="color: #2579f2;"></i> Mua ngay</button>
                        </div>

                    </div>

                </div>
                
            </section>
            <br>
            <section class="arrange">

                <div class="product-container">

                    <div class="product-info">

                        <i class="fa-brands fa-steam fa-2xl"></i>
                        <h2>Gói Steam Wallet nạp chậm</h2>
                        <ul>
                            <li><i class="fa-solid fa-check fa-lg" style="color: #18bd7c;"></i> Tiết kiệm đến 7% so với nạp Steam Wallet Code.</li>
                            <li><i class="fa-solid fa-check fa-lg" style="color: #18bd7c;"></i> Gói nạp đảm bảo sử dụng ở vùng 🇻🇳 Việt Nam.</li>
                            <li><i class="fa-solid fa-check fa-lg" style="color: #18bd7c;"></i> Hoàn thành tối đa trong 24h (khung giờ 7h-24h).</li>
                            <li><i class="fa-solid fa-check fa-lg" style="color: #18bd7c;"></i> Bảo hành 12 tháng.</li>
                        </ul>

                    </div>
                
                    <div class="product-list">

                        <div class="product-card">
                            <div class="product-header">
                                <img src="../image/20usd.avif" alt="">
                                <span class="code-badge-slow"><i class="fa-solid fa-sack-dollar fa-sm" style="color: #af6300;"></i>   CODE KÍCH HOẠT</span>
                            </div>
                            <p class="product-title">Gói nạp Steam Wallet 20$ (Nạp chậm) (~508.760 VNĐ)</p>
                            <p class="product-price">490.000đ <span class="discount">-2%</span></p>
                            <span class="old-price">500.000đ</span>
                            <br>
                            <button class="buy-btn"><i class="fa-solid fa-bag-shopping" style="color: #2579f2;"></i> Mua ngay</button>
                        </div>
                
                        <div class="product-card">
                            <div class="product-header">
                                <img src="../image/50usd.avif" alt="">
                                <span class="code-badge-slow"><i class="fa-solid fa-sack-dollar fa-sm" style="color: #af6300;"></i>   CODE KÍCH HOẠT</span>
                            </div>
                            <p class="product-title">Gói nạp Steam Wallet 50$ (Nạp chậm) (~1.271.900 VNĐ)</p>
                            <p class="product-price">1.200.000đ <span class="discount">-7%</span></p>
                            <span class="old-price">1.300.000đ</span>
                            <br>
                            <button class="buy-btn"><i class="fa-solid fa-bag-shopping" style="color: #2579f2;"></i> Mua ngay</button>
                        </div>

                        <div class="product-card">
                            <div class="product-header">
                                <img src="../image/100usd.avif" alt="">
                                <span class="code-badge-slow"><i class="fa-solid fa-sack-dollar fa-sm" style="color: #af6300;"></i>   CODE KÍCH HOẠT</span>
                            </div>
                            <p class="product-title">Gói nạp Steam Wallet 100$ (Nạp chậm) (~2.543.800 VNĐ)</p>
                            <p class="product-price">2.350.000đ <span class="discount">-6%</span></p>
                            <span class="old-price">2.600.000đ</span>
                            <br>
                            <button class="buy-btn"><i class="fa-solid fa-bag-shopping" style="color: #2579f2;"></i> Mua ngay</button>
                        </div>

                    </div>

                </div>
                
            </section>
            <br>
            <section class="arrange">

                <div class="link">
                    <i class="fa-solid fa-arrow-up-right-from-square fa-lg" style="color: #007bfa;"></i>
                    <h2>Liên kết nhanh</h2>
                </div>
                <br>
                <div class="button-group">
                    <a href="../index.html" class="rounded-btn">Divine Shop ↗</a>
                    <a href="#" class="rounded-btn">Điều khoản dịch vụ ↗</a>
                    <a href="#" class="rounded-btn">Chính sách bảo mật ↗</a>
                </div>
                <br><br><br>

            </section>

        </section>

    </div>

    <footer class="arrange">

            <div class="payment-methods">
                <img src="../image/b77a2122717d76696bd2b87d7125fd47.svg" alt="MoMo" class="payment-icon">
                <img src="../image/72a3a36fc7c66085b3f442940ba45fde.svg" alt="VNPay" class="payment-icon">
                <img src="../image/visa.svg" alt="Visa" class="payment-icon">
                <img src="../image/mastercard.svg" alt="Mastercard" class="payment-icon">
                <span style="font-size: 16px;">và nhiều hình thức thanh toán khác</span>
            </div>
        
    </footer>
</body>
</html>