<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Divine Shop - Phần mềm bản quyền</title>
    <link rel="icon" href="image/asset_logo_logo-divine-94375.png">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>

    <header>
        <div class="bannerTopHeader">
            <div class="hot">
                <a href="#">⟨ ⟩ Kingdom Come: Deliverance II Gold Edition - Tài khoản Steam Offline</a>
            </div>
            <div class="header-links">
                <a href="#"><i class="fa-solid fa-book"></i> Hướng dẫn mua hàng</a>
                <a href="#"><i class="fa-solid fa-tag"></i> Ưu đãi khách hàng</a>
                <a href="#"><i class="fa-solid fa-phone"></i> Thông tin liên hệ</a>
            </div>
        </div>

        <div class="bannerTop">
            <div class="logo">
                <a href="#"><img src="image/b1402e84a947ed36cebe9799e47f61c2.svg" alt="Logo"> Divine Shop</a>
            </div>

            <div class="search">
                <input type="text" placeholder="Tìm kiếm sản phẩm...">
                <button><i class="fa-solid fa-search"></i></button>
            </div>

            <div class="user-cart">
                <a href="src_html/Login.html" class="login"><i class="fa-solid fa-user"></i> Đăng nhập</a>
                /
                <a href="src_html/Register.html" class="register">Đăng ký</a>
                <div class="cart">
                    <a href="src_html/cart.html"><i class="fa-solid fa-cart-shopping"> </i> Giỏ hàng</a>
                </div>
            </div>
        </div>

        <div class="menu">
            <div class="menu-item">
                <i class="fa-solid fa-eye fa-lg"></i> Sản phẩm bạn vừa xem
            </div>
            <div class="menu-item">
                <i class="fa-solid fa-fire-flame-curved fa-lg"></i> Sản phẩm mua nhiều
            </div>
            <div class="menu-item">
                <i class="fa-solid fa-percent fa-lg"></i> Sản phẩm khuyến mại
            </div>
            <div class="menu-item">
                <i class="fa-solid fa-briefcase fa-lg"></i> Tuyển dụng
            </div>
            <div class="menu-item">
                <i class="fa-solid fa-credit-card fa-lg"></i> Hình thức thanh toán
            </div>
        </div>
    </header>

    <main class="content">
        <div class="sidebar">
            <h3><i class="fa-solid fa-list fa-lg"></i> Danh mục sản phẩm</h3>
            <ul>
                <li><i class="fa-solid fa-gamepad fa-lg" style="color: #959595;"></i> Giải trí</li>
                <li><i class="fa-solid fa-briefcase fa-lg" style="color: #959595;"></i> Làm việc</li>
                <li><i class="fa-solid fa-graduation-cap fa-lg" style="color: #959595;"></i> Học tập</li>
                <li><i class="fa-brands fa-steam fa-lg" style="color: #959595;"></i> Game Steam</li>
                <li><i class="fa-solid fa-pen-to-square fa-lg" style="color: #959595;"></i> Edit Ảnh - Video</li>
                <li><i class="fa-brands fa-windows fa-lg" style="color: #959595;"></i> Window, Office</li>
                <li><i class="fa-brands fa-google-drive fa-lg" style="color: #959595;"></i> Google Drive</li>
                <li><i class="fa-brands fa-steam-symbol fa-lg" style="color: #959595;"></i> Steam Wallet</li>
                <li><i class="fa-solid fa-shield-virus fa-lg" style="color: #959595;"></i> Diệt Virus</li>
                <li><i class="fa-brands fa-xbox fa-lg" style="color: #959595;"></i> Xbox, iTunes Gift Card</li>
            </ul>
        </div> 


        <div class="main-content">
            <div class="banner">
                <iframe src="https://albumizr.com/a/87w4" scrolling="no" frameborder="0" allowfullscreen width="920" height="400"></iframe>
            </div>
    
            

        </div>     
    </main>

    <div class="products">
        <div class="product">
            <a style="background-color: black;" href="src_html/Steam-wallet.html"><img src="image/Steam-67643.png" alt="Steam Wallet"></a>
        </div>
        <div class="product">
            <img src="image/ThietKe-83230.png" alt="Thiết kế">
        </div>
        <div class="product">
            <img src="image/Virus-92243.png" alt="Diệt virus">
        </div>
        <div class="product">
            <img src="image/Microsoft Office-24009.png" alt="Microsoft Office">
        </div>
    </div>

    <section class="featured-products">
        <h2>Sản phẩm nổi bật</h2>
        <p>Danh sách những sản phẩm theo xu hướng mà có thể bạn sẽ thích</p>
    
        <div class="product-grid">

            <div class="product-card">
                <img src="image/Zoom Pro 28d-58614.png" alt="Zoom Pro">
                <h3>Zoom Pro ~1 tháng (28 ngày)</h3>
                <p class="price">210.000đ <span class="old-price">350.000đ</span> <span class="discount">-40%</span></p>
            </div>
    

            <div class="product-card">
                <img src="image/Windows 10 Professional CD Key-22736.png" alt="Windows 10 Pro">
                <h3>Windows 10 Professional - CD Key</h3>
                <p class="price">290.000đ <span class="old-price">400.000đ</span> <span class="discount">-28%</span></p>
            </div>
    

            <div class="product-card">
                <img src="image/YouTube Premium Music-1nam-65910.png" alt="YouTube Premium">
                <h3>YouTube Premium + Music 1 năm</h3>
                <p class="price">599.000đ <span class="old-price">6.720.000đ</span> <span class="discount">-91%</span></p>
            </div>
    

            <div class="product-card">
                <img src="image/Canva-giahan-1nam-13476.png" alt="Canva Pro">
                <h3>Canva Pro 1 năm - Gia hạn chính chủ</h3>
                <p class="price">295.000đ <span class="old-price">1.500.000đ</span> <span class="discount">-80%</span></p>
            </div>
    

            <div class="product-card">
                <img src="image/ChatGPT TaiKhoan-78300.png" alt="ChatGPT">
                <h3>ChatGPT (OpenAI) - Tài khoản</h3>
                <p class="price">29.000đ <span class="old-price">200.000đ</span> <span class="discount">-85%</span></p>
            </div>
    

            <div class="product-card">
                <img src="image/NETFLIX-1tuan (1)-76597.png" alt="Netflix">
                <h3>Netflix Premium 1 tuần</h3>
                <p class="price">59.000đ <span class="old-price">260.000đ</span> <span class="discount">-77%</span></p>
            </div>
    

            <div class="product-card">
                <img src="image/Quizlet Plus-Nangcap-1y-28668.png" alt="Quizlet">
                <h3>Quizlet Plus 1 năm - Nâng cấp chính chủ</h3>
                <p class="price">399.000đ <span class="old-price">990.000đ</span> <span class="discount">-60%</span></p>
            </div>
    

            <div class="product-card">
                <img src="image/ExitLag-92081.png" alt="ExitLag">
                <h3>ExitLag 1 tháng - Code gia hạn</h3>
                <p class="price">159.000đ <span class="old-price">160.000đ</span> <span class="discount">-1%</span></p>
            </div>
        </div>
    
        <div class="explore-more">
            <button>Xem thêm</button>
        </div>

        <hr style="border: none; height: 1px; background-color: #dde0e4;">

        <h2>Từ khóa nổi bậc</h2>
        
        <div class="product-key" style="    justify-content: center; align-items: center;">

            <div style="background-color: #3d5a80;" class="product-card">
                <h3 style="color: white;">Làm việc</h3>
            </div>
    
            <div style="background-color: #98c1d9;" class="product-card">
                <h3 style="color: white;">Giải trí</h3>
            </div>
    
            <div style="background-color: #ee6c4d;" class="product-card">
                <h3 style="color: white;">Học tập</h3>
            </div>
    
            <div style="background-color: #293241;" class="product-card">
                <h3 style="color: white;">Spotify</h3>
            </div>
    
            <div style="background-color: #545b67;" class="product-card">
                <h3 style="color: white;">Wallet</h3>
            </div>
    
            <div style="background-color: #767c85; " class="product-card ">
                <h3 style="color: white;">Youtube</h3>
            </div>
        </div>    
    </div>
    </section>  

    <br>

    <section class="background-steam">
    </section>

    <section class="featured-products-steam">
        <h2>Game trên Steam</h2>
        <p>Những trò chơi được đánh giá tốt, nội dung hấp dẫn thu hút đang chờ bạn</p>
    
        <div class="product-steam">

            <div class="product-card">
                <img src="image/Random Code Steam.png" alt="Random Code Steam">
                <h3>Random Code Steam</h3>
                <p class="price">9.000đ <span class="old-price">20.000đ</span> <span class="discount">-55%</span></p>
            </div>
    

            <div class="product-card">
                <img src="image/black myth wukong-13641.jpg" alt="Black Myth: Wukong - Tài khoản Steam Offline">
                <h3>Black Myth: Wukong - Tài khoản Steam Offline</h3>
                <p class="price">99.000đ <span class="old-price">1.299.000đ</span> <span class="discount">-92%</span></p>
            </div>
    

            <div class="product-card">
                <img src="image/Divine-Shop-Elden-Ring-82335.jpg" alt="Elden Ring (CD Key Steam)">
                <h3>Elden Ring (CD Key Steam)</h3>
                <p class="price">790.000đ <span class="old-price">800.000đ</span> <span class="discount">-1%</span></p>
            </div>
    

            <div class="product-card">
                <img src="image/header.jpg" alt="Kingdom Come: Deliverance II Gold Edition - Tài khoản Steam Offline">
                <h3>Kingdom Come: Deliverance II Gold Edition - Tài khoản Steam Offline</h3>
                <p class="price">99.000đ <span class="old-price">999.000đ</span> <span class="discount">-90%</span></p>
            </div>
    

            <div class="product-card">
                <img src="image/gtaprev.jpg" alt="GTA Grand Theft Auto V: Premium Online Edition - CD Key Rockstar">
                <h3>GTA Grand Theft Auto V: Premium Online Edition - CD Key Rockstar</h3>
                <p class="price">390.000đ <span class="old-price">650.000đ</span> <span class="discount">-40%</span></p>
            </div>
    

            <div class="product-card">
                <img src="image/black myth wukong-1w-19640.png" alt="Black Myth: Wukong - Thuê game (1 tuần)">
                <h3>Black Myth: Wukong - Thuê game (1 tuần)</h3>
                <p class="price">95.000đ <span class="old-price">1.299.000đ</span> <span class="discount">-93%</span></p>
            </div>
    

            <div class="product-card">
                <img src="image/Outlast 2-74508.jpg" alt="Outlast 2 - CDKEY">
                <h3>Outlast 2 - CDKEY</h3>
                <p class="price">99.000đ <span class="old-price">385.000đ</span> <span class="discount">-74%</span></p>
            </div>
    

            <div class="product-card">
                <img src="image/Random Code Steam Legendary-78055.png" alt="Random Code Steam Legendary">
                <h3>Random Code Steam Legendary</h3>
                <p class="price"> 60.000đ <span class="old-price">150.000đ</span> <span class="discount">-60%</span></p>
            </div>
        </div>
        <div class="explore-more">
                    <button>Xem thêm</button>
                </div>

                <hr style="border: none; height: 1px; background-color: #dde0e4;">
    </section>    
    <br>

    <div class="signup-section">
        <div class="image-section">
            <img src="https://cdn.divineshop.vn/static/528b91cfa29c7ffd85418f4b1e8cc8ce.svg" alt="Đăng ký tài khoản">
        </div>

        <div class="text-section">
            <h2>Bạn chưa có tài khoản?</h2>
            <p>
                Hãy tạo ngay một tài khoản để sử dụng đầy đủ các tính năng, tích lũy ưu đãi khi thanh toán các sản phẩm và tham gia vào chương trình <br>
                 Giới thiệu bạn bè nhận hoa hồng vĩnh viễn tại Divine Shop.
            </p>

            <div class="button-group">
                <a href="src_html/Register.html"><button class="signup-btn">Đăng ký ngay</button></a>
                <span class="login-link">Hoặc bạn đã có tài khoản?   <a href="src_html/Login.html">Đăng nhập</a></span>
            </div>
        </div>
    </div>

    <div class="payment_wallet">
        <img class="momo" src="image/b77a2122717d76696bd2b87d7125fd47.svg" alt="MOMO">
        <img class="vnpay" src="image/72a3a36fc7c66085b3f442940ba45fde.svg" alt="">
        <img class="visa" src="image/visa.svg" alt="">
        <img class="mastercard" src="image/mastercard.svg" alt="">
        <p>và nhiều hình thức thanh toán khác</p>
    </div>

    <footer>
        <section class="featured-products-footer">
            <div class="social-network">
                <a href="https://www.facebook.com/divineshop.vn"><img class="logofb" src="image/logofb.svg" alt="facebook"></a>
                <img class="logoyb" src="image/logoyoutube.svg" alt="youtube">
                <img class="logoin" src="image/logoinstargam.svg" alt="instargam">
            </div>

            <hr style="border: none; height: 1px; background-color: #dde0e4;">

            <div class="footer-section">
                <div class="footer-text">
                    <div class="footer-column">
                        <h3>GIỚI THIỆU</h3>
                        <ul>
                            <li><a href="#">Game bản quyền là gì?</a></li>
                            <li><a href="#">Giới thiệu Divine Shop</a></li>
                            <li><a href="#">Điều khoản dịch vụ</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                        </ul>
                    </div>

                    <div class="footer-column">
                        <h3>TÀI KHOẢN</h3>
                        <ul>
                            <li><a href="src_html/Login.html">Đăng nhập</a></li>
                            <li><a href="src_html/Register.html">Đăng ký</a></li>
                        </ul>
                    </div>

                    <div class="footer-column">
                        <h3>LIÊN HỆ</h3>
                        <ul>
                            <li>Hotline tự động: <span class="hotline">1900 633 305</span></li>
                            <li><a href="#">Liên hệ Hỗ trợ</a></li>
                            <li><a href="#">Chat với CSKH</a></li>
                        </ul>
                    </div>
                </div>      
            
                <div class="footer-badge">
                    <img src="image/asset_logo_logo-divine-94375.png" alt="DMCA Protected">
                </div>    
            </div>
        </section>
    </footer>
</body>
</html>
